* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; 
}

header {
  background-color: rgb(198, 25, 25);
  color: #fff;
}

body {
  background-color: rgb(65, 64, 64);
  color: #fff;
}

header {
  font-family: "Chakra Petch", sans-serif;
}

header li {
  display: inline;
}

header nav li a {
  color: #fff;
  text-decoration: none;
  margin-left: 18px;
  font-size: 23px;
}

header nav li a:hover {
  text-decoration: underline;
}

.container {
  max-width: 1280px;
  padding: 10px;
  width: 100%;
  margin: 0 auto;
}

header .container,
header .container_h1{
  align-items: center;
  display: flex;
  justify-content: space-between;
}

header .container_h1,
header .container_h1 h1 {
  margin-left: 20px;
}

header .container_h1 img {
  height: 50px;
  width: auto;
}


section .container_about {
  display: flex;
}

section .container_about div {
  padding: 15px;
  text-align: center;
}

section .container_about p {
  margin:15px 0;
}

section .container_about h2, h3 {
  font-size: 26px;
}

.mainImagem {
  max-width: 600px;
  height: auto;
}
